<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>204674706369-gqle8vjn527ml1f9381i76b9prmoau9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204674706369-gqle8vjn527ml1f9381i76b9prmoau9t</string>
	<key>API_KEY</key>
	<string>AIzaSyBhEfTJFaawm5AVwiOKtMa4U9zGyv42To4</string>
	<key>GCM_SENDER_ID</key>
	<string>204674706369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs2340.WhereIsMyStuff</string>
	<key>PROJECT_ID</key>
	<string>whereismystuffdatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>whereismystuffdatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:204674706369:ios:5144e5dedf04a503</string>
	<key>DATABASE_URL</key>
	<string>https://whereismystuffdatabase.firebaseio.com</string>
</dict>
</plist>